.main-menu{
    background-color: #56AA1C;
    height: 70px;
    width: 100%;
}
.menu-block{
    display: flex;
    height: 70px;
    justify-content: space-around;
}
.main-menu .menu-block a{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #B2E072;
    line-height: 70px;
}

.main-menu .menu-block a:hover{
    color: #FFFFE9;
}

.main-menu .menu-block{
    margin-left: 330px;
}

.menu-block .authorization-block{
    margin-left: 250px;
}

.popup{
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position: absolute;
    width: 200px;
}
